<%- include ../_partials/header %>

    <!-- container -->
    <div class="container">
        <!-- row -->
        <div class="row">
            <div class="col-md-12">
                <div class="section-title">
                    <h2>Categories</h2>
                </div>
            </div>

             <% for( let i = 0; i < categories.length; i++ ) { %>
            <div class="col-md-3">
                <div class="categories">
                    <a class="" href="/manage/category/<%= categories[i]._id %>">
                        <h3 class="category-title"><%= categories[i].title %></h3>
                    </a>
                </div>
            </div>
            <% } %>
            

           
        </div>
        <!-- /row -->

    </div>
    <!-- /container -->

    <%- include ../_partials/footer %>